* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.maincontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer > ul {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  justify-content: space-between;
}
.maincontainer > ul > li {
  width: 12%;
  height: 17rem;
  border-radius: 2rem;
  background-color: azure;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
  width: calc(20% - 30px); /* Adjust the width to distribute the cards evenly */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.maincontainer > ul > li > img {
  width: 70%;
  height: 10rem;
}
.maincontainer > ul > li > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  color: brown;
  margin-top: 1rem;
}
